<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://farehajtkonverter.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/879b03d9-a076-4f95-8bd4-912319f5b3e7/resourceGroups/MyResourceGroup/providers/Microsoft.Web/sites/FarehajtKonverter</ResourceId>
    <UserName>$FarehajtKonverter</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://farehajtkonverter.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>